@font-face {
  font-family: "Light";
  src: url("../../fonts//Inter-Light.ttf");
}

@font-face {
  font-family: "ExtraLight";
  src: url("../../fonts//Inter-ExtraLight.ttf");
}

@font-face {
  font-family: "SemiBold";
  src: url("../../fonts//Inter-SemiBold.ttf");
}

@font-face {
  font-family: "ExtraBold";
  src: url("../../fonts//Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("../../fonts//Inter-Medium.ttf");
}

@font-face {
  font-family: "Thin";
  src: url("../../fonts//Inter-Thin.ttf");
}

@font-face {
  font-family: "Black";
  src: url("../../fonts//Inter-Black.ttf");
}

* {
  font-family: "MaPolice";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.error {
  color: #ff1d58;
  font-weight: 500;
  font-family: "medium";
}

.aucune {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}

.aucune p {
  font-weight: 500;
  font-family: "medium";
  color: #0049b765;
}

@font-face {
  font-family: "MaPolice";
  src: url("../../fonts//Inter-Regular.ttf");
}

#navigation {
  width: 100%;
  height: 92.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

#navigation nav {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#navigation nav .content-nav {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1vw;
  list-style: none;
  padding: 1vw 0;
}

#navigation nav .content-nav .liste {
  width: 100%;
  height: 3.5vw;
  padding: 0 1vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navigation nav .content-nav .liste a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #ffffff9c;
  font-size: 1.1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1vw;
  border-radius: 3px;
  padding: 0 1vw;
}

#navigation nav .content-nav .liste a #image {
  border-radius: 5px;
  padding: 0.5vw;
}

#navigation nav .content-nav .liste a:hover {
  background-color: #ecf0f127;
  color: #fff;
}

#navigation nav .content-nav .liste a:hover i {
  color: #fff;
}

#navigation nav .content-nav .drop {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  padding: 0 1vw;
  overflow: hidden;
}

#navigation nav .content-nav .drop .nom-drop {
  width: 100%;
  height: 3.5vw;
  text-decoration: none;
  color: #333;
  font-size: 1.1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5vw;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

#navigation nav .content-nav .drop .nom-drop i {
  width: 21%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  color: #1746A2;
}

#navigation nav .content-nav .drop .nom-drop:hover {
  background-color: #1746A2;
  color: #fff;
}

#navigation nav .content-nav .drop .nom-drop:hover i {
  color: #fff;
}

#navigation nav .content-nav .drop .nom-drop span {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}

#navigation nav .content-nav .drop .nom-drop .angle {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navigation nav .content-nav .drop .nom-drop .angle.rotate {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
}

#navigation nav .content-nav .drop ul {
  width: 80%;
  height: auto;
  list-style-type: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-left: 1px solid #1746A2;
  display: none;
}

#navigation nav .content-nav .drop ul li {
  width: 100%;
  height: 2.5vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0 1vw;
}

#navigation nav .content-nav .drop ul li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333;
  font-size: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5vw;
}

#navigation nav .content-nav .drop ul li:hover {
  background-color: #F7F7F7;
  color: #fff;
}

#navigation nav .content-nav .drop ul li:hover i {
  color: #fff;
}

#navigation nav .content-nav .drop ul li:hover a {
  color: #1746A2;
}
/*# sourceMappingURL=navigation.css.map */