@font-face {
  font-family: "Light";
  src: url("../../fonts//Inter-Light.ttf");
}

@font-face {
  font-family: "ExtraLight";
  src: url("../../fonts//Inter-ExtraLight.ttf");
}

@font-face {
  font-family: "SemiBold";
  src: url("../../fonts//Inter-SemiBold.ttf");
}

@font-face {
  font-family: "ExtraBold";
  src: url("../../fonts//Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("../../fonts//Inter-Medium.ttf");
}

@font-face {
  font-family: "Thin";
  src: url("../../fonts//Inter-Thin.ttf");
}

@font-face {
  font-family: "Black";
  src: url("../../fonts//Inter-Black.ttf");
}

* {
  font-family: "MaPolice";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.error {
  color: #ff1d58;
  font-weight: 500;
  font-family: "medium";
}

.aucune {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}

.aucune p {
  font-weight: 500;
  font-family: "medium";
  color: #0049b765;
}

@font-face {
  font-family: "MaPolice";
  src: url("../../fonts//Inter-Regular.ttf");
}

#container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  position: relative;
}

#container .btnSlide {
  padding: 0.5vw;
  margin: 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1vw;
  background-color: #fff;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  width: 3.3vw;
  height: 3.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  position: absolute;
  left: inherit;
  right: inherit;
  top: 40%;
  bottom: inherit;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  #container .btnSlide {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

#container .btnSlide #contentIcone {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}

#container .btnSlide #contentIcone #iconePrev {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#container .btnSlide #contentIcone .btnIcone {
  width: 4vw;
  height: 100%;
}

#container .prev {
  left: -1.3vw;
}

#container .next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: -1.3vw;
}

#container .liste-article {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2vw;
  padding: 0.5vw;
}
/*# sourceMappingURL=articleDispo.css.map */