@font-face {
  font-family: "Light";
  src: url("../../fonts//Inter-Light.ttf");
}

@font-face {
  font-family: "ExtraLight";
  src: url("../../fonts//Inter-ExtraLight.ttf");
}

@font-face {
  font-family: "SemiBold";
  src: url("../../fonts//Inter-SemiBold.ttf");
}

@font-face {
  font-family: "ExtraBold";
  src: url("../../fonts//Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("../../fonts//Inter-Medium.ttf");
}

@font-face {
  font-family: "Thin";
  src: url("../../fonts//Inter-Thin.ttf");
}

@font-face {
  font-family: "Black";
  src: url("../../fonts//Inter-Black.ttf");
}

* {
  font-family: "MaPolice";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.error {
  color: #ff1d58;
  font-weight: 500;
  font-family: "medium";
}

.aucune {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}

.aucune p {
  font-weight: 500;
  font-family: "medium";
  color: #0049b765;
}

@font-face {
  font-family: "MaPolice";
  src: url("../../fonts//Inter-Regular.ttf");
}

#headProfil {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}

#headProfil #contentLink {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  border-radius: 0.3vw;
  overflow: hidden;
}

#headProfil #contentLink .lien {
  padding: 1vw 2vw;
  margin: 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1vw;
  background-color: #1746A2;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  width: auto;
  height: auto;
  text-decoration: none;
  background-color: #fff;
  color: #121212;
  border-radius: 0;
  position: relative;
  font-family: "medium";
  font-size: 1vw;
}

@media (max-width: 768px) {
  #headProfil #contentLink .lien {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

#headProfil #contentLink .lien::after {
  content: "";
  position: absolute;
  left: inherit;
  right: inherit;
  top: inherit;
  bottom: 0;
  width: 100%;
  height: 0.2vw;
}

#headProfil #contentLink .lien:hover::after {
  background-color: #4B0082;
}

#headProfil #contentLink .lien.active {
  color: #4B0082;
}

#headProfil #contentLink .lien.active::after {
  background-color: #4B0082;
}
/*# sourceMappingURL=headProfil.css.map */